<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hj.blog.admin.mapper.AdminMapper">
    <select id="findPermissionByAdminId" parameterType="Long" resultType="com.hj.blog.admin.pojo.Permission">
        select * from hj_permission where id in (select permission_id from hj_admin_permission where admin_id=#{adminId})
    </select>

</mapper>